@charset "utf-8";
#body {
	font-family: "微软雅黑";
	font-size: 12px;
	width: 100%;
}

#admin_top {
	background-image: url(../images/top-right.gif);
	background-repeat: repeat;
	height: 63px;
	float: left;
	width: 100%;
}
#admin_top img {
	float: left;
}

#admin_top #welcome {
	float: right;
	color: #FFFFFF;
	font-family: "微软雅黑";
	font-size: 13px;
	margin-top: 5px;
}
#menue_left {
	height: 320px;
	width: 180px;
	float: left;
}
#menue_left #menue_nav2 ul {
	list-style-type: none;
	margin-top: 0px;
}

#menue_left #menue_nav2 {
	background-image: url(../images/menu_bg1.gif);
	height: 45px;
}

#menue_left #menue_nav ul {
	list-style-type: none;
	margin-top: 0px;
	margin-left: 0px;
}
#menue_left #menue_nav ul li {
	font-family: "微软雅黑";
	font-size: 13px;
	display: block;
	width: 100px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999999;
	margin-top: 5px;
	text-align: center;
}
#menue_left #menue_nav2 ul li {
	font-family: "微软雅黑";
	font-size: 13px;
	display: block;
	width: 100px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999999;
	margin-top: 5px;
	text-align: center;
}

#menue_left #menue_nav a {
	text-decoration: none;
	color: #000000;
	display: block;
	width: 100px;
	text-align: center;
}
#menue_left #menue_nav2 a {
	text-decoration: none;
	color: #000000;
	display: block;
	width: 100px;
	text-align: center;
}

#menue_left #menue_nav a:hover {
	text-decoration: none;
	color: #000000;
	display: block;
	width: 100px;
	text-align: center;
	background-image: url(../images/menu_bt.gif);
	background-repeat: no-repeat;
	background-position: left center;
}
#menue_left #menue_nav2 a:hover {
	text-decoration: none;
	color: #000000;
	display: block;
	width: 100px;
	text-align: center;
	background-image: url(../images/menu_bt.gif);
	background-repeat: no-repeat;
	background-position: left center;
}







#menue_left #left_top {
	background-image: url(../images/menu_bgs.gif);
	height: 35px;
}
#menue_left #left_top #line {
	background-image: url(../images/menu_topline.gif);
	background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
}

#menue_left #left_top h1 {
	font-size: 13px;
	font-family: "微软雅黑";
	margin-top: 5px;
	text-align: center;
}
#menue_left #line {
	height: 5px;
	background-image: url(../images/menu_topline.gif);
}
#menue_left #menue_nav {
	background-image: url(../images/menu_bg1.gif);
}
#footer {
	height: 80px;
	width: 100%;
	margin-top: 50px;
	float: left;
}
#footer #footer_top {
	height: 5px;
	background-image: url(../images/bg.gif);
	background-repeat: repeat;
}

#foot_content {
	float: left;
	height: 75px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999999;
}
#foot_content img {
	margin-top: 10px;
	margin-left: 5px;
	float: left;
}
#foot_content ul {
	list-style-type: none;
	margin-top: 0px;
	margin-left: 0px;
	padding-left: 0px;
}
#foot_content ul li {
	margin-top: 10px;
	margin-left: 10px;
	font-family: "微软雅黑";
	font-size: 12px;
	color: #555555;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #999999;
	padding-left: 5px;
	float: left;
}
#foot_content ul li a {
	text-decoration: none;
	color: #555555;
	display: block;
}
#foot_content p {
	font-family: "微软雅黑";
	font-size: 12px;
	margin-top: 0px;
	margin-left: 5px;
	padding-top: 0px;
}
#right {
	background-color: #F7F8F9;
	font-family: "微软雅黑";
	width: 1060px;
	margin-left: 30px;
	float: left;
	height: 450px;
}

#right #right_top {
	height: 30px;
	background-image: url(../images/content-bg.gif);
	background-repeat: repeat;
}
#right_top {
	height: 30px;
	background-image: url(../images/content-bg.gif);
	background-repeat: repeat;
}

#right #right_top h1 {
	font-size: 12px;
	display: block;
	height: 25px;
	width: 85px;
	text-align: center;
	padding-top: 7px;
	margin-left: 10px;
	background-image: url(../images/top_bt.jpg);
}


#right #state {
	height: 50px;
	font-family: "微软雅黑";
	font-size: 12px;
	width: 90%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	margin-right: auto;
	margin-left: auto;
}

#right #right_content {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	background-color: #e1e5ee;
	margin-top: 20px;
}

#form ul {
	list-style-type: none;
}
#form ul li {
	display: block;
	margin-top: 3px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999999;
}
#form ul li span {
	display: block;
	width: 430px;
	float: left;
}



#news_nav a {
	border: 1px solid #999999;
}




#right_content #tips {
	float: right;
	height: 260px;
	width: 270px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}
#tips ul {
	list-style-type: none;
	font-size: 14px;
}
#right_content #form {
	float: left;
}

#tips ul li {
	color: #FF0000;
}




#right #right_content h3 {
	font-family: "微软雅黑";
	font-size: 12px;
	margin-left: 10px;
	margin-top: 0px;
}

#right #right_add h3 {
	font-family: "微软雅黑";
	font-size: 12px;
	margin-top: 5px;
	margin-left: 10px;
}

#right #right_add {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
	background-color: #e1e5ee;
}

#right #right_addcont {
	width: 97%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
}
#login_top {
	height: 40px;
	background-image: url(../images/login-top-bg.gif);
}
#login_content {
	height: 530px;
	background-repeat: repeat-x;
	background-image: url(../images/login-content-bg.gif);
}
#login_content #lg_content1 {
	width: 50%;
	height: 530px;
	float: left;
}
#login_foot {
	height: 90px;
	background-image: url(../images/login-buttom-bg.gif);
	background-repeat: repeat;
}
#login_foot h2 {
	font-family: "微软雅黑";
	font-size: 12px;
	text-align: center;
	color: #ABCAD3;
	margin: 0px;
}
#login_content #lg_content1 #content1_bg {
	height: 200px;
	width: 430px;
	float: right;
	margin-top: 150px;
}
#login_content #lg_content1 #content1_bg ul {
	list-style-type: none;
}
#login_content #lg_content1 #content1_bg ul li {
	font-family: "微软雅黑";
	font-size: 13px;
	margin-top: 0px;
}
#login_content #lg_content2 #content2_bg {
	height: 200px;
	width: 430px;
	margin-top: 150px;
}







#login_content #lg_content2 {
	width: 50%;
	height: 530px;
	float: left;
}
#content1_bg ul li {
	list-style-type: square;
	padding-top: 0px;
	margin-top: 0px;
	margin-left: 50px;
}
.container {
	font-size: 14px;
	width: 1270px;
	margin-right: auto;
	margin-left: auto;
}
#login_head {
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #CFCFCF;
	padding-bottom: 10px;
}
#login_title {
	font-size: 18px;
	color: #158AFF;
	font-weight: bolder;
	margin-left: 10px;
}
#apLogin {
	width: 70%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
}
.textmiddle {
	vertical-align: middle;
}
#applyE {
	margin-top: 10px;
}
}
#apLogin form a {
	font-size: 10px;
}

